@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #fff;
}

.userbar {
  font-size: 14px;
  font-weight: 300;
  color: grey;
}

.my-brand {
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}

.modal-body h5 {
  font-weight: 700;
  font-size: 32px;
  color: #000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-bottom: 12px;
}

.title-page {
  font-family: 'Montserrat', sans-serif;
}

.vue-input-tag-wrapper {
  border: none !important;
}
.vue-input-tag-wrapper .input-tag {
  border: 1px solid grey !important;
  font-size: 15px !important;
  color: gray !important;
  background-color: #fff !important;
  font-family: 'ZCOOL XiaoWei', serif;
}